* {
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: #fae7dd;
    color: #000000;
  }
  
  .cardapio {
      background-color: #0d0d0d1d;
      padding: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
  }
  
  .cardapioimg {
      justify-content: center !important;
      /* background-color: #D7C4BA; */

      /* padding-bottom: 80px;
      padding: 25px; */
      
  }

.gastronomia {
    background-color: #0d0d0d1d;
      padding: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #efded5;

      
}

.gastronomiaimg {
    justify-content: center !important; 
      padding-bottom: 15px;
      /* padding: 25px; */
}


.tituloimg {
    
    justify-content: center !important; 
      padding-bottom: 10px;
}


.osmelhorespratos {
    padding-top: 100px;
    padding-left: 90px;
    padding-bottom: 75px;
    color: #0d0d0d;
    display: flex;
    /* flex-direction: column; */
    
}  



  .casamentosimg {
    justify-content: center !important; 
      padding-bottom: 80px;
      padding: 30px;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
  }
  .casimg {
    top: 80%; 
    left: 50%;
  }
  .pri2 {
    padding-top: 50px;
    padding-left: 90px;
    padding-bottom: 5px;
    color: #0d0d0d;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
  
  
  }
  .teste {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }
  
  .orca {
    width: 40%;
    height: 50px;
    font-size: 20px;
    background-color: #a97c62af;
    border-radius: 30px;
    border: none;
  }
  .orca:hover {
  
    background-color: #e0b49d;
  
  }
  
  .primary-bg-color {
    background-color: #252525;
  }
  
  .destaque {
    background-color: #241d1d;
  }
  
  .secondary-bg-color {
    background-color: #0d0d0d;
  }
  
  .light-bg-color {
    background-color: #0d0d0d;
  }
  
  .dark-bg-color {
    background-color: #0d0d0d;
  }
  
  .primary-color {
    color: #E8CFC1;
  }
  
  .secondary-color {
    color: #E8CFC1;
  }
  
  .light-color {
    color: #0d0d0d;
  }
  
  #navbar .navbar-nav {
    flex-direction: row;
    justify-content:space-around;
  }
  
  #navbar .navbar-nav li {
    margin-left: 1em;
  }
  
  #navbar a,
  #navbar button {
    color: #fff;
  }
  
  #navbar li {
    position: relative;
  }
  
  #navbar i {
    font-size: 20px;
  }
  
  #navbar i:hover {
    color: #E8CFC1;
  }
  
  
  
  
  .navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
  
  .sobre a:hover {
    color: #E8CFC1!important;
  }
  
  #copy-container {
    text-align: center;
    padding: 30px;
    color: #fff;
  } 
  
  .primary-color1 {
    color: #705545;
  }
  
 