* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #e8cfc1;
  color: #000000;
}

.eventos {
  background-color: #0d0d0d1d;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventos h2 {
margin: 30px;
}

.eventosimg {
  justify-content: center !important; 
  padding-bottom: 0px  !important; 
  padding-left: 80px;
  
}

.casamentosimg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;

}
.casimg {
  top: 80%; 
  left: 50%;
}
.pri2 {
  padding-top: 50px;
  padding-left: 90px;
  padding-bottom: 5px;
  color: #0d0d0d;
  display: flex;
  justify-content: center;

}
.divul{
  padding-right: 30px;
}
.teste {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.orca {
  width: 40%;
  height: 70px;
  font-size: 20px;
  background-color: #a97c62af;
  border-radius: 30px;
  border: none;
}
.orca:hover {

  background-color: #e0b49d;

}

.primary-bg-color {
  background-color: #252525;
}

.destaque {
  background-color: #241d1d;
}

.secondary-bg-color {
  background-color: #0d0d0d;
}

.light-bg-color {
  background-color: #0d0d0d;
}

.dark-bg-color {
  background-color: #0d0d0d;
}

.primary-color {
  color: #E8CFC1;
}

.secondary-color {
  color: #E8CFC1;
}

.light-color {
  color: #0d0d0d;
}

#navbar .navbar-nav {
  flex-direction: row;
  justify-content:space-around;
}

#navbar .navbar-nav li {
  margin-left: 1em;
}

#navbar a,
#navbar button {
  color: #fff;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar i:hover {
  color: #E8CFC1;
}

.imagens {
  
}




.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.sobre a:hover {
  color: #E8CFC1!important;
}

#copy-container {
  text-align: center;
  padding: 30px;
  color: #fff;
} 

.primary-color1 {
  color: #705545;
}

@media screen and (max-width: 768px) {
  .casamentosimg {
    max-width: 80%;
  }


  .pri2 {
    padding: 10px;
    flex-direction: column-reverse;
  }
.teste{
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
  .orca {
    height: 20%;

  }

}