* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e8cfc1;
    color: #fff !important;
}

.primary-bg-color {
    background-color: #252525;
}

.destaque {
    background-color: #241D1D;
}

.destaque2 {
    background-color: #3f2f2fb4;
}

.destaque3 {
    background-color: #E8CFC1;
}

.destaque4 {
    background-color: #E8CFC1;
}

.secondary-bg-color {
    background-color: #343a40;
}

.light-bg-color {
    background-color: #343a40;
}

.dark-bg-color {
    background-color: #343a40;
}


.primary-color {
    color: #705545;
}

.secondary-color {
    color: #000000;
    font-weight: bold;
}

.light-color {
    color: #343a40;
}

#navbar .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
}

#navbar .navbar-nav li {
    margin-left: 1em;
}

#navbar a,
#navbar button {
    color: #fff;
}

#navbar li {
    position: relative;
}

#navbar i {
    font-size: 20px;
}

#navbar i:hover {
    color: #E8CFC1;
}

#navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef3636;
    text-align: center;
}

#bag-item span {
    left: 20px;
}

.navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.sobre a:hover {
    color: #E8CFC1!important;
}

@media(min-width: 768px) {
    .navbar-brand {
        text-align: left;
    }
}

#navbar-items {
    justify-content: space-between;
}

/* hxdsutfgwaurtfgawrufr */

@media(min-width: 768px) {
    #navbar-items {
        display: flex;
        min-width: 0%;
    }
}

#search-form,
#news-form {
    width: 100%;
    margin: 2em 0;
}

@media (min-width: 768px) {
    #search-form, #news-form {
    width: 50%;
    margin: 0;
}
   
}

@media(min-width: 768px) {
    #search-form,
    #news-form {
        border: 2px solid #E8CFC1;
        border-radius: 3px;
        padding: 5px 15px;
    }
}

#search-form input,
#news-form input {
    background-color: transparent;
    border: none;
    color: #fff;
}

#serach-form input:focus,
#news-form input:focus {
    box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
    color: #fff;
}

#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    color: #fff;
    font-weight: 600;
}

.navbar-toggler {
    font-size: 1.5em;
}

/* ________________________________________________ */
/* Estilos para os banner */

/* Define espaçamento interno para o conteiner de banners */
#banners-container {
    padding: 0;
}

.historia {
    width: 100%;
    height: 400px;
    background: rgba(203, 173, 156, 0.692);
    display: flex;
    justify-content: space-between;
}

/* Posicionamento espaçamento para a legenda do carousel */
.carousel-caption {
    bottom: 0.5em;
    padding: 0em;
    left: 12%;
    right: 12%;
}

/* Estilos para o titulo na legenda do carousel */
.carousel-caption h5 {
    font-size: 1.8em;
}

/* Media query para telas com largura minima de 768px */
@media(min-width: 768px) {

    /* Ajusta altura dos itens do carousel e imagens */
    #slider .carousel-item,
    #slider img {
        height: 600px;
    }

    /* Ajusta posicionamento e espaçamento da legenda do carousel */
    .carousel-caption {
        left: 23%;
        right: 23%;
    }

    /* Ajusta tamanho do titulo na legenda do carousel */
    .carousel-caption h5 {
        font-size: 4em;
    }
}

/* Estilos para os mini banners */
/* Ajusta margem superior para sobrepor os banner principais */
#mini-banners {
    margin-top: -3em;
    z-index: 10;
}

/* Estilos para colunas dos mini banners */
#mini-banners .col-12 {
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Media query para telas com larguras minima de 768px */
@media(min-width: 768px) {

    /* Ajusta largura maxima das colunas dos mini banners */
    #mini-banners .col-12 {
        max-width: 30%;
    }

    /* Ajusta tamanho do titulo nos mini banners */
    #mini-banners .col-12 h2 {
        font-size: 2.2em;
    }
}

/* Estilos para as imagens nos mini banners */
#mini-banners .col-12 h2 {
    text-transform: uppercase;
    max-width: 50px;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1em;
}

/* Estilos para as iamgens nos mini banners */
#mini-banners .col-12 img {
    height: 220px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* Estilos para os liks nos mini banners */
#mini-banners .col-12 a {
    font-weight: bold;
    color: #000000;
    font-size: .8rem;
    transition: .5s
}

/* Estilos de hover para links nos mini banners */
#mini-banners .col-12 a:hover {
    color: #343a40;
}

/* Estilos especifico para o primeiro mini banner */
#mini-banners #mini-banner-1 a:hover {
    color: #976df2;
}

/* Estilos especifico para o terceiro mini banner */
#mini-banners #mini-banner-3 a {
    color: #343a40;
}

/* Estilos de hover especifico para o terceiro mini banner */
#mini-banners #mini-banner-3 a:hover {
    color: #976df2;
}

/* __________________________________________________ */
/* BEST SELLERS */

/* Define altura e ajusta o redimensionamento das imagens nos cartões */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Define espaçamento interno para aseçõa dde best sellers */
#best-sellers {
    padding: 4em 0;
}

/* Remove margens horizontais para linha de produtos */
#best-sellers .row {
    margin: 0;
}

/* Ajusta o espaçamento interno das colunas dos produtos */
#best-sellers .col-md-3 {
    padding: 0;
}

/* Estilos para titulo da seção */
.title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
}

@media(min-width:768px) {

    /* Ajusta o alinhamento do titulo para esquerda */
    .title {
        text-align: left;
    }

}

/* Estilos para os preços */
.original-price {
    font-size: 18px;
    color: #f2f2f2;
    text-decoration: line-through;
    margin-left: 10px;
}

.discount-price {
    font-size: 24px;
    color: #976df2;
    /* Cor destacada para o preço mais baixo*/
}

/* Estilos para os cartões de produtos */
.card {
    text-align: center;
    border-radius: 0;
}

/* Ajusta o tamanho da imagem nos cartões */
.card img {
    width: 140px;
    margin: 2em auto;
}

/* Estilos para a categoria do produto nos cartões*/
.card .card-category {
    font-size: .8rem;
}


/* Estilos para os textos nos cartões*/
.card .card-text {
    margin: 2em 0;
    font-weight: bold;
}

/* Estilos para os botões de compra */
.btn {
    background-color: #d3ad97;
    border-color: #d3ad97;
}

/* Estilos de hover para os botões de compra */
.btn:hover {
    background-color: #ad8b77;
    border-color: #ad8b77;
}

/* ____________________________________________________ */
/* BOTTOM BANNER */

/* Define cor de fundo , espaçamento interno e margens para o banner */
#bottom-banner {
    background-color: #343a40;
    padding: 6em;
    margin-bottom: 4em;
    text-align: center;
}

#inicial {
    max-width: 100%;
    height: 750px;
}

/* Define estilo para subtitulo da oferta e titulo */
#bottom-banner .offer-subtitle,
#bottom-banner h2 {
    text-transform: uppercase;
    font-weight: bold;
}

/* Define tamanho maximo para imagem */
#bottom-banner img {
    max-width: 175px;
}

@media(min-width:768px) {

    /* Ajusta tamanho do titulo para telas maiores */
    #bottom-banner h2 {
        font-size: 5em;
    }
}

/* ____________________________________________________ */
/* (Novidades)NEW PRODUCTS */

/* Define margem inferior para a seção de Novidades */
#new-products {
    margin-bottom: 5rem;
}

/* Estilos para o banner de Novidades */
#new-products-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
}


/* Estilos para o titulo do banner de Novidades */
#new-products-banner h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2rem
}


/* Ajusta o espaçamento interno das colunas nos cartões de produtos */
#new-products .col-md-4 {
    padding: 0;
}


/* Define tamanho e margem para as imagens nos cartões de produtos */
#new-products .card img {
    height: 150px;
    width: 90px;
    margin: 2em auto;
}

/* ____________________________________________________________--- */
/* GALLERY */

/* Estilos para os containers das imagens */
#gallery .image-container {
    background-size: cover;
    background-position: center;
    height: 225px;
    cursor: pointer;
    transition: .5s;
    border: 3px solid #343a40;
}

#gallery .image-container:hover {
    border-color: #705545;
}

/* Defina a imagem de fundo para cada contianer */
#insta1 {
    background-image: url(../img/buffet1.jpg);
}

#insta2 {
    background-image: url(../img/buffet2.jpg);
}

#insta3 {
    background-image: url(../img/buffet3.jpg);
}

#insta4 {
    background-image: url(../img/buffet4.jpg);
}

#insta5 {
    background-image: url(../img/buffet5..jpg);
}

#insta6 {
    background-image: url('../img/buffet6.jpg');
}

/* ___________________________________________________ */
/* FOOTER */

#footer-links-container {
    border-bottom: 1px solid #705545;
}

#footer .footer-column {
    padding: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media(min-width:795px) {
    #footer .footer-column {
        padding: 5em 2em;
    }
}

#footer-links-container h3 {
    margin-bottom: 25px;
    text-transform: uppercase;
}

#footer-links-container li {
    font-size: .8em;
    text-align: center;
}

#footer-links-container li a {
    text-decoration: none;
}

#footer-links-container li a:hover {
    color: #705545;
}

#footer-center {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

#footer-center h3 {
    font-weight: 900;
}

#footer-center .store-phone {
    color: #b38282;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -15px;
}

/* _____________________________________________________--- */
/* NEWS */

#newsletter-container {
    background-color: #e8cfc1;
    border-bottom: 1px solid #343a40;
    text-align: center;
    padding: 20px;
}

#news-form {
    max-width: 600px;
    margin: 15px auto;
}

#news-form i {
    font-size: 1.5em;
}

#news-form .btn {
    color: #343a40;
 }

.img-circle img{
    border-radius: 70%;
    width: 150px;
    height: 130px;
}




#social-container {
    margin: 20px auto;
    text-align: center;
  
}

#social-container i {
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
    color: #f2f2f2;
    transition: .3s;
}

#social-container i:hover {
    color: #705545;
}

/* ___________________________________________- */
/* COPY */

#copy-container {
    text-align: center;
    padding: 30px;
}

/* ______________________________________________________________________________ */
/* Equipe de desenvolvimento (Página Sobre) */

.container-equipe {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.equipe-h2 {
  padding-top: 15px;
  text-align: center;
  color: #333;
}

/* Estilos da seção "Equipe" */
.equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.membro {
  width: 200px;
  text-align: center;
  margin: 10px;
}

.membro img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333; 
}

.membro h3 {
  margin-top: 10px;
  color: #090908;
}

.membro p {
  font-size: 14px;
  color: #090908;
}