* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #e5c3c3;
  color: #fff;
}

.primary-bg-color {
  background-color: #252525;
}

.destaque {
  background-color: #0d0d0d;
}

.secondary-bg-color {
  background-color: #0d0d0d;
}

.light-bg-color {
  background-color: #0d0d0d;
}

.dark-bg-color {
  background-color: #0d0d0d;
}

.primary-color {
  color: #E8CFC1;
}

.secondary-color {
  color: #E8CFC1;
}

.light-color {
  color: #0d0d0d;
}

#navbar .navbar-nav {
  flex-direction: row;
  justify-content:space-around;
}

#navbar .navbar-nav li {
  margin-left: 1em;
}

#navbar a,
#navbar button {
  color: #fff;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar i:hover {
  color: #E8CFC1;
}

#navbar span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1b1515;
  text-align: center;
}

#bag-item span {
  left: 20px;
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.sobre a:hover {
  color: #E8CFC1!important;
}

@media(min-width: 768px) {
  .navbar-brand {
      text-align: left;
  }
}

#navbar-items {
  justify-content: space-between;
}

/* hxdsutfgwaurtfgawrufr */

@media(min-width: 768px) {
  #navbar-items {
      display: flex;
      min-width: 80%;
  }
}

#search-form,
#news-form {
  width: 100%;
  margin: 2em 0;
}

@media (min-width: 768px) {
  #search-form, #news-form {
  width: 50%;
  margin: 0;
}
 
}

@media(min-width: 768px) {
  #search-form,
  #news-form {
      border: 2px solid #E8CFC1;
      border-radius: 3px;
      padding: 5px 15px;
  }
}

#search-form input,
#news-form input {
  background-color: transparent;
  border: none;
  color: #c22222;
}

#serach-form input:focus,
#news-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
  color: #0a0707;
}

#bottom-navbar-container .container {
  justify-content:space-between !important;
}

#bottom-navbar-container a {
  color: #fff;
  font-weight: 600;
}

.image-container {
  position: relative;
  /* text-align: center;  */
}

.text-overlay {
  position: absolute;
  top: 80%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  width: 80%; /* Definir a largura do texto para evitar que seja muito largo em telas pequenas */

}
@media screen and (max-width: 768px) {
  .text-overlay {
    top: 60%; 

  }
}



.image-container2 {
  position: relative;
  /* text-align: center;  */
}

.img-fluid {
  width: 100% !important;
}

.text-overlay {
  position: absolute;
  top: 80%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  width: 80%; /* Definir a largura do texto para evitar que seja muito largo em telas pequenas */

}
@media screen and (max-width: 768px) {
  .text-overlay {
    top: 60%; 

  }
}



.navbar-toggler {
  font-size: 1.5em;
}
.pri1 {
    padding-left: 25px;
    color: #0d0d0d;
}
.pri2 {
    padding-top: 50px;
    padding-left: 90px;
    padding-bottom: 50px;
    color: #0d0d0d;
}
.pri3 {
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 80px;
    color: #0d0d0d;
}
.pri4 {
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 80px;
    color: #0d0d0d;
}
.pri5 {
    padding-left: 25px;
    color: #0d0d0d;
    
}
.pri5 {
    padding-left: 25px;
    font-size: 20px;
    color: #0d0d0d;
    
}



/* ___________________________________________________________________ */
 /* CAROUSEL */

 .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
      display: flex;
      padding-bottom: 80px;

    }
  }

  .img-thumbnail {
    width: 500px;
    height: 400px;
    display: flex;
  }

  .busca {
    width: 35% !important;
  }

  /* ___________________________________________________ */
/* FOOTER */

#footer-links-container {
  border-bottom: 1px solid #705545;
}

#footer .footer-column {
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media(min-width:795px) {
  #footer .footer-column {
      padding: 5em 2em;
  }
}

#footer-links-container h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}

#footer-links-container li {
  font-size: .8em;
  text-align: center;
}

#footer-links-container li a {
  text-decoration: none;
}

#footer-links-container li a:hover {
  color: #705545;
}

#footer-center {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

#footer-center h3 {
  font-weight: 900;
}

#footer-center .store-phone {
  color: #b38282;
  font-weight: bold;
  font-size: 2rem;
  margin-top: -15px;
}

/* _____________________________________________________--- */
/* NEWS */

#newsletter-container {
  background-color: #e8cfc1;
  border-bottom: 1px solid #0d0d0d;
  text-align: center;
  padding: 20px;
}

#news-form {
  max-width: 600px;
  margin: 15px auto;
}

#news-form i {
  font-size: 1.5em;
}

#news-form .btn {
  color: #0d0d0d;
}

.img-circle img{
  border-radius: 70%;
  width: 150px;
  height: 130px;
}




#social-container {
  margin: 20px auto;
  text-align: center;

}

#social-container i {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
  color: #f2f2f2;
  transition: .3s;
}

#social-container i:hover {
  color: #705545;
}

/* ___________________________________________- */
/* COPY */

#copy-container {
  text-align: center;
  padding: 30px;
}

/* ______________________________________________________________________________ */
/* Equipe de desenvolvimento (Página Sobre) */

.container-equipe {
max-width: 1400px;
margin: 0 auto;
padding: 20px;
}

.equipe-h2 {
padding-top: 15px;
text-align: center;
color: #333;
}

/* Estilos da seção "Equipe" */
.equipe {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
}

.membro {
width: 200px;
text-align: center;
margin: 10px;
}

.membro img {
width: 80px;
height: 80px;
border-radius: 50%;
object-fit: cover;
border: 1px solid #333; 
}

.membro h3 {
margin-top: 10px;
color: #090908;
}

.membro p {
font-size: 14px;
color: #090908;
}